# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore temporary files created by the editor (for example, Visual Studio Code)
.vscode/
.idea/

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore package-lock.json if you want (not always recommended)
package-lock.json
